html, body {
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: thin;
}

.cell:hover{
  outline: 1px solid black;
}

#title{
  font-size: 30px;
  margin: 2rem;
  text-align: center;
}

#description{
  font-size: 20px;
  text-align: center;
  margin: 0.5rem;
}

#tooltip{
  background-color: rgba(50,50,50 ,.7);
  position: absolute;
  color: white;
  border-radius: 5px;
  display: none;
}
#tooltip p{
  margin: 1rem;
}
